@model IEnumerable<Backstage.Models.Like>

@{
    ViewBag.Title = "Index";
}

@section topCSS{
    <link href="~/Asset/Css/table.css" rel="stylesheet" />
}

<div class="right_col" role="main">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr class="header">
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Song.Song_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_id)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="context">
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Song.Song_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_id)
                </td>

            </tr>
        }

    </table>
</div>

