@model IEnumerable<Backstage.Models.Album>

@{
    ViewBag.Title = "Index";
}

@section topCSS{
    <link href="~/Asset/Css/table.css" rel="stylesheet" />
}
<div class="right_col" role="main" style="padding-top:0">

    <button>@Html.ActionLink("Create New", "Create")</button>
    
    <table class="table">
        <tr class="header">
            <th>
                Singer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datetime)
            </th>
            <th>
                Album
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                W_Hits
            </th>
            <th>
                M_Hits
            </th>
            <th>
                Total_Hits
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr class="context">
        <td>
            @Html.DisplayFor(modelItem => item.Singer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.About)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeekHits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthHits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hits)
        </td>
        <td>
            <button>@Html.ActionLink("Edit", "Edit", new { id = item.Album_id })</button>
            <button>@Html.ActionLink("Delete", "Delete", new { id = item.Album_id })</button>
        </td>
    </tr>
        }

    </table>
</div>

