@*@model IEnumerable<Backstage.Models.Album>*@
@using Backstage.Models;
@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<Album>
@{
    ViewBag.Title = "Index";
}

@section topCSS{
    <link href="~/Asset/Css/table.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}
<div class="right_col" role="main" style="padding-top:0">

    <button>@Html.ActionLink("Create New", "Create")</button>
    
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @using (Html.BeginForm("Index", "Albums", FormMethod.Get))
    {
        @Html.TextBox("searchString")<input type="submit" value="Searching" style="margin-left:10px">
    }
    <table class="table">
        <tr class="header">

            <th>
                @Html.ActionLink("Singer", "Index", new { sortOrder = ViewBag.LastNameSortParm })
            </th>
            <th>
                Datetime
            </th>
            <th>
                @Html.ActionLink("Album_Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm })
            </th>
            <th>
                Pic
            </th>
            <th>
                About
            </th>
            <th>
                Company
            </th>
            <th>
                Price
            </th>
            <th>
                Hits
            </th>
            <th>
                WeekHits
            </th>
            <th>
                MonthHits
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="context">
                <td>
                    @Html.DisplayFor(modelItem => item.Singer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Album_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.About)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeekHits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthHits)
                </td>
                <td>
                    <button>@Html.ActionLink("Edit", "Edit", new { id = item.Album_id })</button>
                    <button>@Html.ActionLink("Delete", "Delete", new { id = item.Album_id })</button>
                </td>
            </tr>
        }

    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

