@*@model IEnumerable<Backstage.Models.GiveBacks>*@
@using Backstage.Models;
@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<GiveBacks>
@{
    ViewBag.Title = "Index";
}

@section topCSS{
    <link href="~/Asset/Css/table.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}
<div class="right_col" role="main">

    <div class="feature">
        <div class="col-lg-6">
            <button>@Html.ActionLink("Create New", "Create")</button>
        </div>
        <div class="col-lg-6">
            @using (Html.BeginForm("Index", "GiveBacks", FormMethod.Get))
            {
                <div class="search">
                    @Html.TextBox("searching")<input type="submit" value="Searching" style="margin-left:15px">
                </div>
            }
        </div>
    </div>
    
    <table class="table">
        <tr class="header">
            <th>
                @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.FirstNameSortParm })
            </th>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.LastNameSortParm })
            </th>
            <th>
                Subject
            </th>
            <th>
                Message
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="6" style="color:red">
                    暫無資料
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr class="context">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <button class="edit">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</button>
                    </td>
                </tr>
            }
        }
    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>