@model IEnumerable<Backstage.Models.GiveBacks>

@{
    ViewBag.Title = "Index";
}

    <div class="right_col" role="main" style="padding-top:0">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        @using (Html.BeginForm("Index","GiveBacks",FormMethod.Get))
        {
            @Html.TextBox("searching")<input type="submit" value="Searching"style="margin-left:10px">
        }
    <table class="table" style="margin-top:0">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="5" style="color:red">
                    暫無資料
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
        </td>
    </tr>
            }
        }
    </table>
    </div>