@using Backstage.Models

@model LoginViewModel
@{
    ViewBag.Title = "登入";
}
@section topCSS{
    <link href="~/Asset/Css/main.css" rel="stylesheet" />

}
<style>
    .body {
        background-color: turquoise;
    }
</style>

<div class="limiter">
    <div class="container-login100" style="background-image: url(../Asset/Images/a12.jpg);">
        <div class="wrap-login100 p-t-30 p-b-50">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <span class="login100-form-title p-b-41" style="color:bisque">
                    Account Login
                </span>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <form class="login100-form validate-form">

                    <div style="margin-top:20px">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-12 control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div style="margin-top:20px">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2  col-12 control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="col-md-offset-2 col-md-4 ">
                            <input type="submit" value="登入" class="btn btn-success" style="margin-top:20%" />
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}