@model List<Backstage.ViewModel.DetailViewModel>


@{
    ViewBag.Title = "Home Page";

    var Hit = (List<Backstage.ViewModel.HitViewModel>)ViewData["Hit"];
    var Value = (List<double>)ViewData["Value"];

    var WeekHit = (List<Backstage.ViewModel.HitViewModel>)ViewData["WeekHit"];
    var WeekValue = (List<double>)ViewData["WeekValue"];

    var MonthHit = (List<Backstage.ViewModel.HitViewModel>)ViewData["MonthHit"];
    var MonthValue = (List<double>)ViewData["MonthValue"];


    var MembersCount = (int)ViewData["Members"];
    var ProductsCount = (int)ViewData["Products"];
    var Total = (int)ViewData["Total"];
}

    <div class="right_col" role="main">
        <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i>會員總數</span>
                <div class="count green">@MembersCount</div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-book"></i>總銷售產品數</span>
                <div class="count">@ProductsCount</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa  fa-dollar"></i>銷售總金額</span>
                <div class="count">@Total</div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="dashboard_graph">

                    <div class="row x_title">
                        @* 橫向長條圖 *@
                        <div class="col-md-6">
                            <canvas id="horizontalBar"></canvas>
                        </div>

                        @* 圓餅圖 *@
                        <div class="row">
                            <div class="col-md-6">
                                <canvas id="doughnutChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>

        </div>
        <br />

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="dashboard_graph">
                    <div class="row x_title">
                        <div class="col-md-6">
                            <canvas id="week_doughnutChart"></canvas>
                        </div>

                        <div class="col-md-6">
                            <canvas id="month_doughnutChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


@section endJS{
    <script src="~/backstage_js/Utility.js"></script>
    <script src="~/backstage_js/Color.js"></script>
    <script>

        var ctx1 = document.getElementById("horizontalBar");
        const barDirection = {
        horizontal: 'horizontalBar'
        };

        BarChart(ctx1, barDirection.horizontal);

        //繪製Bar長條圖
        function BarChart(context, barChartDirection) {
            if (!(barChartDirection == 'bar' || barChartDirection == 'horizontalBar')) {
                return;
            }

            var myChart = new Chart(context, {
                type: barChartDirection,
                data: {
                    labels: ['@Model[0].Album_Name', '@Model[1].Album_Name', '@Model[2].Album_Name', '@Model[3].Album_Name', '@Model[4].Album_Name', '@Model[5].Album_Name', '@Model[6].Album_Name','@Model[7].Album_Name','@Model[8].Album_Name'],
                    datasets: [{
                        label: '專輯銷售金額',
                        data: [@Model[0].TotalAmount, @Model[1].TotalAmount, @Model[2].TotalAmount, @Model[3].TotalAmount, @Model[4].TotalAmount, @Model[5].TotalAmount, @Model[6].TotalAmount,@Model[7].TotalAmount,@Model[8].TotalAmount],
                        backgroundColor: [
                           "#FF7575", "#FFBB77","#FFE66F","#93FF93","#ACD6FF","#2894FF","#D2A2CC","#CF9E9E","#FFCBB3"
                        ],
                        borderColor: [
                          "#FF7575", "#FFBB77","#FFE66F","#93FF93","#ACD6FF","#2894FF","#D2A2CC","#CF9E9E","#FFCBB3"
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                beginAtZero: true,
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                            }
                        }],
                    }
                }
            });
        }
       
        //doughnut Chart(Hits)       
        var ctxDoughnut = document.getElementById("doughnutChart");
        var pieChart = new Chart(ctxDoughnut, {
            type: 'doughnut',
            data: {
                labels: ['@Hit[0].Name', '@Hit[1].Name', '@Hit[2].Name', '@Hit[3].Name', '@Hit[4].Name', '@Hit[5].Name' ,'@Hit[6].Name','@Hit[7].Name','@Hit[8].Name'],
                datasets: [{
                    data: [@Value[0], @Value[1], @Value[2], @Value[3], @Value[4], @Value[5], @Value[6] ,@Value[7],@Value[8]],
                    backgroundColor: [
                        "#FF7575", "#FFBB77","#FFE66F","#93FF93","#ACD6FF","#2894FF","#D2A2CC","#CF9E9E","#FFCBB3"
                    ]
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    fontSize: 20,
                    text: '總點擊率%'
                },
                tooltips: {
                    mode: 'point',
                    intersect: true,

                },
                legend: {
                    position: 'right',
                    labels: {
                        fontColor: 'black',
                    }
                }
            }
        });

        //doughnut Chart(WeekHits)
        var ctxDoughnut = document.getElementById("week_doughnutChart");
        var pieChart = new Chart(ctxDoughnut, {
            type: 'doughnut',
            data: {
                labels: ['@WeekHit[0].Name', '@WeekHit[1].Name', '@WeekHit[2].Name', '@WeekHit[3].Name', '@WeekHit[4].Name', '@WeekHit[5].Name' ,'@WeekHit[6].Name','@WeekHit[7].Name','@WeekHit[8].Name'],
                datasets: [{
                    data: [@WeekValue[0], @WeekValue[1],@WeekValue[2] ,@WeekValue[3] ,@WeekValue[4] ,@WeekValue[5] , @WeekValue[6] ,@WeekValue[7],@WeekValue[8]],
                    backgroundColor: [
                       "#FF7575", "#FFBB77","#FFE66F","#93FF93","#ACD6FF","#2894FF","#D2A2CC","#CF9E9E","#FFCBB3"
                    ]
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    fontSize: 20,
                    text: '週點擊率%'
                },
                tooltips: {
                    mode: 'point',
                    intersect: true,

                },
                legend: {
                    position: 'right',
                    labels: {
                        fontColor: 'black',
                    }
                }
            }
        });


         //doughnut Chart(MonthHits)
        var ctxDoughnut = document.getElementById("month_doughnutChart");
        var pieChart = new Chart(ctxDoughnut, {
            type: 'doughnut',
            data: {
                labels: ['@MonthHit[0].Name', '@MonthHit[1].Name', '@MonthHit[2].Name', '@MonthHit[3].Name', '@MonthHit[4].Name', '@MonthHit[5].Name' ,'@MonthHit[6].Name','@MonthHit[7].Name','@MonthHit[8].Name'],
                datasets: [{
                    data: [@MonthValue[0], @MonthValue[1],@MonthValue[2] ,@MonthValue[3] ,@MonthValue[4] ,@MonthValue[5] , @MonthValue[6] ,@MonthValue[7],@MonthValue[8]],
                    backgroundColor: [
                        "#FF7575", "#FFBB77","#FFE66F","#93FF93","#ACD6FF","#2894FF","#D2A2CC","#CF9E9E","#FFCBB3"
                    ]
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    fontSize: 20,
                    text: '月點擊率%'
                },
                tooltips: {
                    mode: 'point',
                    intersect: true,

                },
                legend: {
                    position: 'right',
                    labels: {
                        fontColor: 'black',
                    }
                }
            }
        });

    </script>
}



<!-- /top navigation -->
<!-- page content -->
<!-- /page content -->
<!-- footer content -->
<!-- /footer content -->
@*<footer>
        <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
</footer>*@
