@model Backstage.Models.OrderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Album.Album_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.Album_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.AspNetUsers_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.AspNetUsers_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderDetail_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
